<div class="offres-list">

  <h2>Offres</h2>

  <p>Nombre d'offres : {{ offres.length }}</p>

  <div *ngIf="loadError">
    Erreur lors du chargement :
    {{ errorMessage }}
  </div>

  <div *ngIf="!loadError && offres.length === 0">
    Aucune offre trouvée.
  </div>

  <div *ngFor="let offre of offres">

    <h3>{{ offre.title }}</h3>

    <div>
      {{ offre.domain }} -
      {{ offre.level }} -
      {{ offre.minExperienceYears }} ans d'expérience
    </div>

    <div>
      {{ offre.criteria }} -
    </div>

    <p>{{ offre.description }}</p>

    <div>
      Du {{ offre.startDate }} au {{ offre.closingDate }}
    </div>

    <div>
      Statut : {{ offre.status }}
    </div>

    <hr>

  </div>

</div>